* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('/img/eng.jfif');
    background-size: cover;
    background-position: top;
}

.memory-game {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    perspective: 1000px;

    .memory-card {
        position: relative;
        height: calc(33.333% - 10px);
        width: calc(25% - 10px);
        margin: 5px;
        transform-style: preserve-3d;
        transition: 0.7s;

        img {
            background: linear-gradient(to right, #000000, #000000);
            cursor: pointer;
            position: absolute;
            height: 100%;
            width: 100%;
            padding: 5px;
            border-radius: 10%;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            transform: scale(1);
            backface-visibility: hidden;


            &:active {
                transform: scale(0.9);
                transition: 0.7s;
            }
        }

        .front {
            transform: rotateY(180deg);
        }
    }
}

.flip {
    transform: rotateY(180deg);
    transition: 0.7s;
}


.congrats {
    display: none;
    place-items: center;
    position: relative;
    top: 100px;
    left: 300px;
    z-index: 1;
    border: solid #fff;
    width: 700px;
    height: 400px;
    background-image: url('/img/swiss.jfif');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;


    h1 {
        font-family: 'Courier New', Courier, monospace;
        color: #fff;
    }
}